.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	right: auto;
	bottom: auto;
	transform: translate(-50%, -50%);
	display: block;
	height:300px;
	width:400px;
	background-color: #fff;
	padding:10px;
	border-radius: 5px;
	color:#212529;
}
.modal .modal-header{
	padding:0;
}
.overlay{
	background-color: rgba(0,0,0,.5);
	z-index: 1050;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.single-select-dropdown-container .react-dropdown-select-content,.single-select-dropdown-container .react-dropdown-select-dropdown-handle{
	color:#fff;
}